<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>深圳</string>
		<key>regions</key>
		<array>
			<dict>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>name</key>
				<string>福田区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>荔枝公园片区</string>
					<string>梅林</string>
					<string>八卦岭/园岭</string>
					<string>华强北</string>
					<string>皇岗</string>
					<string>沙头</string>
					<string>香蜜湖</string>
					<string>市中心区</string>
					<string>华强南</string>
					<string>车公庙</string>
					<string>新洲</string>
					<string>石厦</string>
					<string>景田</string>
					<string>岗厦</string>
					<string>市民中心</string>
					<string>上沙/下沙</string>
					<string>竹子林</string>
					<string>福田保税区</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>南山区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>南头</string>
					<string>华侨城</string>
					<string>蛇口</string>
					<string>科技园</string>
					<string>南油</string>
					<string>西丽</string>
					<string>南山中心区</string>
					<string>前海</string>
					<string>白石洲</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>罗湖区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>火车站</string>
					<string>莲塘</string>
					<string>翠竹路沿线</string>
					<string>罗湖区政府</string>
					<string>宝安南路沿线</string>
					<string>东门商业圈</string>
					<string>笋岗</string>
					<string>国贸</string>
					<string>布心</string>
					<string>黄贝岭</string>
					<string>文锦渡</string>
					<string>水贝</string>
					<string>田贝</string>
					<string>新秀/罗芳</string>
					<string>水库</string>
					<string>银湖/泥岗</string>
					<string>草埔</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>龙岗区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>布吉</string>
					<string>龙岗中心区</string>
					<string>龙岗其他</string>
					<string>平湖</string>
					<string>横岗</string>
					<string>坪地</string>
					<string>双龙/南联</string>
					<string>坂田</string>
					<string>求水山度假区</string>
					<string>大运</string>
					<string>坪山</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>盐田区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>沙头角</string>
					<string>大小梅沙</string>
					<string>盐田</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>宝安区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>宝安中心区</string>
					<string>宝安其他</string>
					<string>沙井</string>
					<string>松岗</string>
					<string>福永</string>
					<string>石岩</string>
					<string>固戍桃源居</string>
					<string>西乡</string>
					<string>新安</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>大鹏新区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>南澳</string>
					<string>大鹏</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>龙华新区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>龙华</string>
					<string>观澜</string>
					<string>大浪</string>
					<string>民治</string>
					<string>梅林关</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>光明新区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>光明</string>
					<string>公明</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>坪山新区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>坪山</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>苏州</string>
		<key>regions</key>
		<array>
			<dict>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>name</key>
				<string>高新区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>枫桥地区</string>
					<string>狮山地区</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>相城区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>阳澄湖</string>
					<string>相城其他</string>
					<string>陆慕元和</string>
					<string>莲花岛</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>沧浪区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>南门</string>
					<string>十全街/凤凰街</string>
					<string>盘门</string>
					<string>宝带东路</string>
					<string>沧浪新城</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>平江区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>景德路沿线</string>
					<string>观前街地区</string>
					<string>拙政园</string>
					<string>平江路</string>
					<string>万达广场</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>金阊区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>三香路沿线</string>
					<string>石路地区</string>
					<string>虎丘景区</string>
					<string>留园</string>
					<string>山塘街</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>吴中区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>长桥地区</string>
					<string>木渎地区</string>
					<string>吴中其他</string>
					<string>太湖东山</string>
					<string>太湖西山</string>
					<string>越溪</string>
					<string>永旺梦乐城</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>工业园区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>左岸商业街</string>
					<string>娄葑镇</string>
					<string>李公堤</string>
					<string>博览中心</string>
					<string>湖东邻里中心</string>
					<string>独墅湖大学城</string>
					<string>跨塘唯亭</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>太仓</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>太仓万达</string>
					<string>人民路</string>
					<string>太平南路</string>
					<string>五洋广场</string>
					<string>海运堤</string>
					<string>浏河镇</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>张家港</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>杨舍老街</string>
					<string>步行街</string>
					<string>香港城</string>
					<string>购物公园</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>常熟</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>方塔街</string>
					<string>世茂</string>
					<string>虞景文华</string>
					<string>印象城购物中心</string>
					<string>美城广场</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>吴江</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>盛泽</string>
					<string>松陵</string>
					<string>汾湖</string>
					<string>同里</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>天津</string>
		<key>regions</key>
		<array>
			<dict>
				<key>name</key>
				<string>全部</string>
			</dict>
			<dict>
				<key>name</key>
				<string>和平区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>五大道</string>
					<string>西康路沿线</string>
					<string>南市</string>
					<string>小白楼</string>
					<string>和平路</string>
					<string>鞍山道沿线</string>
					<string>滨江道</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>河北区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>天津站</string>
					<string>中山路</string>
					<string>王串场/民权门</string>
					<string>意式风情街</string>
					<string>榆关道</string>
					<string>铁东路街</string>
					<string>狮子林大街</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>河东区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>大直沽</string>
					<string>大王庄</string>
					<string>万新村</string>
					<string>中山门</string>
					<string>工业大学</string>
					<string>上杭路街</string>
					<string>太阳城</string>
					<string>后广场</string>
					<string>富民路</string>
					<string>常州道</string>
					<string>卫国道</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>河西区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>图书大厦</string>
					<string>围堤道沿线</string>
					<string>宾水道/体院北</string>
					<string>尖山</string>
					<string>永安道沿线</string>
					<string>小海地</string>
					<string>梅江小区</string>
					<string>文化中心</string>
					<string>新业广场</string>
					<string>下瓦房</string>
					<string>挂甲寺</string>
					<string>宾西</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>南开区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>南开公园</string>
					<string>王顶堤</string>
					<string>南开大学</string>
					<string>海光寺/六里台</string>
					<string>长虹公园</string>
					<string>天拖地区</string>
					<string>老城厢</string>
					<string>时代奥城</string>
					<string>水上/天塔</string>
					<string>白堤路/风荷园</string>
					<string>密云路</string>
					<string>大悦城</string>
					<string>咸阳路/黄河道</string>
					<string>天佑城/西南角</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>近郊</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>东丽区</string>
					<string>津南区</string>
					<string>北辰区</string>
					<string>武清区</string>
					<string>宝坻区</string>
					<string>蓟县</string>
					<string>宁河县</string>
					<string>静海县</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>红桥区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>本溪路/丁字沽</string>
					<string>芥园道</string>
					<string>大胡同</string>
					<string>前园桥</string>
					<string>水木天成</string>
					<string>创意街/水木天成</string>
					<string>邵公庄/创意街</string>
					<string>天津西站/欧亚达</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>滨海新区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>经济开发区</string>
					<string>塘沽城区</string>
					<string>大港油田</string>
					<string>塘沽其他</string>
					<string>汉沽城区</string>
					<string>大港城区</string>
					<string>金街</string>
					<string>洋货/易买得</string>
					<string>杭州道/福州道</string>
					<string>财富星座</string>
					<string>鸿泰千佰汇</string>
					<string>大港学府路</string>
					<string>新港</string>
					<string>开发区永旺</string>
					<string>开发区乐购</string>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>西青区</string>
				<key>subregions</key>
				<array>
					<string>全部</string>
					<string>中北镇</string>
					<string>华苑</string>
					<string>杨柳青</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
